 <footer class="site-footer clearfix">
            <section class="copyright"><a href="http://seanoneill.me">Sean O Neill</a> &copy; 2017</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>